/*!
 * Start Bootstrap - 1 Col Portfolio (https://startbootstrap.com/template-overviews/1-col-portfolio)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-1-col-portfolio/blob/master/LICENSE)
 */

body {
  padding-top: 0em !important;
}

.pagination {
  margin-bottom: 15px;
}

.bg-orange {
  background-color: #ff9900 !important;
}

.bottom-buffer {
  margin-bottom: 1.5em;
}

.padding-top-md { padding-top: 1em; }


.width-most {
  -ms-flex: 0 0 48% !important;
  flex: 0 0 48% !important;
  width: 48% !important;
}

.off-white {
  background-color: #f8f9fa;
}

.drk-grey {
  color: #1f1f1f;
}

.flex-bottom {
  display: flex;
  align-items: bottom;
  flex-direction: row;
}

.h-10 {
  height: 10% !important;
}

.center {
  margin: 0 auto !important;
  float: none !important;
}

.font-size-0 {
  font-size: 1rem !important;
}

.height-20 {
  height: 20px;
}

#login-btn {
  position: relative;
  margin-bottom: 2em !important;
  color: white;
  top: -0.3rem;
}

.mwid-15 {
  min-width: 15em !important;
}

#banner {
  height: 15rem;
  position: relative !important;
  z-index: 0;
}

div.center-form {
  position: absolute !important;
  top: 5rem;
  z-index: 1;
}

.container-fluid {
  min-height: 55rem;
}

.border-bottom {
  border-bottom: 1px solid;
}

.result-hover {
  border-left: 0.2rem solid #007bff;
}

.result-select {
  border-left: 0.2rem solid #007bff;
}