<html lang="en">

{{head}}

<body class="off-white">
{{navbar}}

<div class="container-fluid">
    {{banner}}
    <div class="row w-100 center-form">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1 class="font-weight-bold text-white ml-4">Careers</h1>
            <div class="bg-white bg-white p-4 pl-5 pr-5 shadow-sm rounded">
                <div class="mt-4">
                    <h3>Account Details</h3>
                    <div class="row text-muted">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">Name</div>
                        <div class="col-md-4" id="full-name"></div>
                    </div>
                    <div class="row text-muted">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">Email</div>
                        <div class="col-md-4" id="email"></div>
                    </div>
                    <div class="row text-muted">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">Account Level</div>
                        <div class="col-md-4" id="account-level"></div>
                    </div>
                    <div class="row text-muted">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">Registered Company*</div>
                        <div class="col-md-4" id="registered-company"></div>
                    </div>
                    <br/>

                    <form method="post" id="jobs-posted-table" style="display: none">
                        <h3>Jobs Posted</h3>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" id="index">#</th>
                                    <th scope="col" id="job-title">Title</th>
                                    <th scope="col" id="location">Location</th>
                                    <th scope="col" id="responses"># of Responses</th>
                                    <th scope="col"><input type="checkbox" id="select-all"></th>
                                </tr>
                            </thead>
                            <tbody id="jobs-posted-body">

                            </tbody>
                        </table>
                        <div class="d-flex flex-row-reverse">
                            <input type="submit" class="btn btn-danger" id="delete-btn" name="delete" value="Delete">
                        </div>
                    </form>
                    <br/>

                    <p class="text-info text-right mt-5 mb-0" id="register-company" style="display: none">
                        *please contact us at support@careers.com to get your company registered.
                    </p>
                </div>
                <br/>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{{footer}} {{bootjs}}
<script src="../js/account.js"></script>
{{server_response}}

</body>

</html>