<!-- COMPANY SEARCH FORM -->
<div class="row bg-orange bottom-buffer p-3">
    <div class="col-lg-4">
        <h2 class="font-weight-bold text-white">Careers</h2>
    </div>
    <div class="col-lg-4">
        <form action="reviews.php" method="get" id="company-search-form">
            <div class="row">
                <div class="col-lg-9">
                    <input type="text" class="form-control off-white" id="company" name="company" placeholder="Enter a company name">
                </div>
                <div class="col-lg-3">
                    <input type="submit" value="Search" class="btn btn-primary btn-block" id="search-btn">
                </div>
            </div>
        </form>
    </div>
</div>
<!-- COMPANY SEARCH FORM -->