<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../js/restore-checked.js"></script>
<script src="../js/account-navigation.js"></script>
<script src="../js/parameter-helper.js"></script>
<script src="../libraries/URI.js"></script>
<script src="../libraries/jquery.URI.min.js"></script>