<html lang="en">

{{head}}

<body class="off-white">
{{navbar}}

<div class="container-fluid">
    {{banner}}
    <div class="row w-100 center-form">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1 class="font-weight-bold text-white ml-4">Careers</h1>
            <div class="bg-white bg-white p-4 pl-5 pr-5 shadow-sm rounded" id="main">
                <form id="resume-form" class="form w-100" method="post" style="display: none">
                    <div class="text-center mt-2">
                        <h4>Create a posting</h4>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <label for="job-title">Job Title</label>
                            <input type="text" class="form-control" name="job-title" id="job-title" required>
                        </div>
                        <div class="col-md-4">
                            <label for="job-posting-type">Type</label>
                            <select class="custom-select" name="job-posting-type" id="job-posting-type">
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <label for="location">Location</label>
                            <input type="text" class="form-control" name="location" id="location">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <label for="job-description">Description</label>
                            <textarea class="form-control" style="white-space: pre-wrap" id="job-description" name="job-description" rows="15" required></textarea>
                        </div>
                    </div>
                    <div class="row text-right mt-3">
                        <div class="col-lg-9 text-danger pt-2">
                            <span id="register-company" style="display: none;">*please contact us at support@careers.com to get a company registered.</span>
                        </div>
                        <div class="col-lg-3">
                            <input class="btn btn-primary btn-block disabled" type="submit" name="submit" id="submit" value="Submit" disabled>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{{footer}} {{bootjs}}
<script src="../js/create-posting.js"></script>
{{server_response}}

</body>

</html>