<html lang="en">

{{head}}

<body>
    {{navbar}}

    <div class="container-fluid">
        {{searchform}}
        <!-- PAGE CONTENT container -->
        <div class="row">
            <!--BODY ROW-->

            <!-- FILTER column -->
            <div class="col-md-3 drk-grey pl-5 pb-5">
                <h5 class="text-center">Filter Options</h5>

                <div id="salary-filters">
                    Salary
                    <br/>
                    <label>
                        <input type="checkbox" id="salary-0" value="30000,50000" name="salary-filter"> $30,000 - 50,000</label>
                    <br/>
                    <label>
                        <input type="checkbox" id="salary-1" value="50000,70000" name="salary-filter"> $50,000 - 70,000</label>
                    <br/>
                    <label>
                        <input type="checkbox" id="salary-2" value="70000" name="salary-filter"> $70,000+</label>
                    <br/>
                </div>

                <div id="job-posting-type-filters">
                    <hr> Job Type
                    <br/>
                </div>
            </div>
            <!-- end FILTER column -->

            <!-- RESULTS column -->
            <div class="col-md-6" id="results">
            </div>
            <!-- end RESULTS COLUMN -->
        </div>
        <!-- end BODY ROW -->
    </div>
    <!-- end PAGE CONTENT container -->

    {{footer}} {{bootjs}}
    <script src="../js/job-search.js"></script>

</body>

</html>