<!-- SEARCHFORM -->
<div class="row bg-orange bottom-buffer p-3">
    <div class="col-lg-3">
        <h2 class="font-weight-bold text-white">Careers</h2>
    </div>
    <div class="col-lg-9">
        <form action="job-search.php" method="get" id="job-search-form">
            <div class="form-row">
                <div class="col-lg-3">
                    <input type="text" class="form-control off-white" id="job" name="job" placeholder="Job title, description, company, etc.">
                </div>
                <div class="col-lg-3">
                    <input type="text" class="form-control off-white" id="location" name="location" placeholder="Location">
                </div>
                <div class="col-lg-6">
                    <input type="submit" value="Search" class="btn btn-primary" id="search-btn">
                </div>
            </div>
        </form>
    </div>
</div>
<!-- end SEARCHFORM -->