<html lang="en">

{{head}}

<body class="off-white">
    {{navbar}}

    <div class="container-fluid">
        {{banner}}
        <div class="row w-100 center-form">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 class="font-weight-bold text-white ml-4">Careers</h1>
                <div class="bg-white bg-white p-4 pt-5 shadow-sm rounded">
                    <form id="login-form" method="post" action="login.php">
                        <input type="hidden" name="account_action" id="account_action" value="login">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10" id="center-area">

                                <div id="email-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control off-white center" id="email" name="email" required>
                                    <br/>
                                </div>
                                <div id="password-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control off-white center" id="password" name="password" required>
                                    <br>
                                </div>

                                <input type="submit" class="btn btn-primary" id="login" value="Login">
                                <input type="button" class="btn" id="sign-up" value="Sign up">
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    {{footer}} {{bootjs}}
    <script src="../js/login-page.js"></script>
    {{server_response}}

</body>

</html>