<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="navbar-brand font-size-0" href="job-search.php">Job Search</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand font-size-0" href="reviews.php">Company reviews</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand font-size-0" href="create-posting.php">Create a posting</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" id="account-navigation">
                <li class="nav-item">
                    <button class="btn btn-link nav-link" id="log-btn"></button>
                </li>
            </ul>
        </div>
</nav>
<!-- end NAVIGATION -->