<html lang="en">

{{head}}

<body class="off-white">
{{navbar}}

<div class="container-fluid">
    {{company-search-form}}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" id="main-container" style="display: none">
            <h1 class="ml-4 mb-4" id="search-entry">Reviews</h1>
            <div class="list-group" id="results">
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{{footer}} {{bootjs}}
<script src="../js/reviews.js"></script>

</body>

</html>