<html lang="en">

{{head}}

<body class="off-white">
{{navbar}}

<div class="container-fluid">
    {{banner}}
    <div class="row w-100 center-form">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1 class="font-weight-bold text-white ml-4">Careers</h1>
            <div class="bg-white bg-white p-4 pl-5 pr-5 shadow-sm rounded">
                <div class="text-center">
                    <h5>Upload your resume for</h5>
                    <h4 class="mr-2" style="display: inline" id="title"></h4><h4 class="text-info" style="display: inline" id="sub-header"></h4>
                </div>
                <br/>
                <form id="resume-form" class="form-inline w-100" method="post" style="display: none" enctype="multipart/form-data">
                    <input type="hidden" name="title">
                    <input type="hidden" name="sub_header">
                    <input type="hidden" name="posting_id">
                    <div class="d-flex flex-row w-100">
                        <div class="ml-4 mr-auto"><input type="file" class="form-control-file" id="resume" accept="application/pdf" name="resume"></div>
                        <div class="mr-4"><input type="submit" class="btn btn-primary" id="submit-resume-btn" name="submit"></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{{post_vars}}

{{footer}} {{bootjs}}
<script src="../js/submit-application.js"></script>

</body>

</html>